<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
 <title>Document</title>
</head>
<body>
  <h1>Hello World</h1>
  <nav>
    <ol>
      <li><a href="/">home</a></li>
      <li><a href="/about.html">about</a></li>
      <li><a href="/contact.html">contact</a></li>
    </ol>
  </nav>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi molestiae illum eius cupiditate voluptatem. Rem facere non dolorum consequuntur expedita voluptate nesciunt modi, atque quidem consectetur, eligendi dolore, laudantium velit?</p>
</body>
</html>